<ion-header>
  <ion-toolbar color="primary">
    <ion-title class="ion-text-left">Detail</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="dismissDetail()">Close</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-card>
    <ion-card-title><h5>Service No.{{data.id_service}}</h5></ion-card-title>
    <ion-card-content>
      <table>
        <tr>
          <td width="50%">Date Of Service</td>
          <td> : </td>
          <td>{{data.date_book}}</td>
        </tr>
        <tr>
          <td>Mechanic Name</td>
          <td> :</td>
          <td>{{data.nama_mecanic}}</td>
        </tr>
        <tr>
          <td>Jenis Kendaraan</td>
          <td> :</td>
          <td>{{data.jenis_kendaraan}}</td>
        </tr>
        <tr>
          <td>Plat Mobil</td>
          <td> :</td>
          <td>{{data.plat}}</td>
        </tr>
        <tr>
          <td>Complaint</td>
          <td> :</td>
          <td>{{data.complaint}}</td>
        </tr>
        <tr>
          <td>Alamat Antar:</td>
          <td> :</td>
          <td>{{data.address}},{{data.city}}</td>
        </tr>
        <tr>
          <td>Mechanic Name</td>
          <td> :</td>
          <td>{{data.nama_mecanic}}</td>
        </tr>
        <ng-container *ngIf="data.flag_status===null;else else1">
          <tr>
            <td>Status</td>
            <td> : </td>
            <td><i>waiting for Schedule . . .</i></td>
          </tr>
          </ng-container>
          <ng-template #else1>
            <tr>
              <td>Service Time</td>
              <td> : </td>
              <td><i>{{data.time}}</i></td>
            </tr>
            <tr>
              <td>Status</td>
              <td> : </td>
              <ng-container *ngIf="data.flag_status==1; else else2">
                <td><i>waiting for you . . .</i></td>
              </ng-container>
              <ng-template #else2>
                <ng-container *ngIf="data.flag_status==2; else else3">
                  <td><i>your car in service . . .</i></td>
                </ng-container>
                <ng-template #else3>
                  <td><i>Done . . .</i></td>
                </ng-template>
              </ng-template>
            </tr>
					</ng-template>

      </table>
    </ion-card-content>
  </ion-card>
</ion-content>
