<!-- <ion-header>
  <ion-toolbar>
    <ion-title>
      Ngebengkel
    </ion-title>
  </ion-toolbar>
</ion-header> -->

<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Ngebenkel App</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen>
  <ion-grid>
    <ion-row>
      <ion-col><br />
        <img  src="../../assets/bengkel2.png" width="50%" /><br /><br />
      </ion-col>
    </ion-row>
  </ion-grid>
  <div id="container">
    <strong>Selamat datang, {{Username}}</strong><br>
    <p>Welcome In Ngebengkel App</p>
    <!-- <ion-button color="danger" (click)="logout()" >Logout</ion-button> -->
  </div>
</ion-content>