<!-- <ion-header>
  <ion-toolbar>
    <ion-title>
      Ngebengkel
    </ion-title>
  </ion-toolbar>
</ion-header> -->

<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Ngebenkel App</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen>
  <ion-grid>
    <ion-row>
      <ion-col><br />
        <img  src="../../assets/bengkel2.png" width="50%" /><br /><br />
      </ion-col>
    </ion-row>
  </ion-grid>
  <div id="container">
    <strong>Selamat datang, {{Username}}</strong><br>
    <p>Welcome In Ngebengkel App</p>
    <!-- <ion-button color="danger" (click)="logout()" >Logout</ion-button> -->
  </div>
  <div style="margin-top: 100px;">
    <ion-grid>
      <ion-row > 
        <ion-col size="6">
          <button (click)="serviceroute()">
            <img  src="../../assets/service.jpeg" title="Service" height="100px" width="100px"/>
          </button>
          <p>Service</p>
        </ion-col>
        <ion-col>
          <button (click)="historyroute()">
            <img  src="../../assets/history.jpeg" title="History" height="100px" width="100px"/>
          </button>
          <p>Hisory</p>
        </ion-col>
      </ion-row>
      <ion-row > 
        <ion-col size="6">
          <button (click)="aboutusroute()">
            <img  src="../../assets/aboutus.jpg" title="Service" height="100px" width="100px"/>
          </button>
          <p>About Us</p>
        </ion-col>
        <ion-col>
          <button (click)="workshoproute()">
            <img  src="../../assets/workshop.png" title="history" height="100px" width="100px"/>
          </button>
          <p>Workshop</p>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
  
</ion-content>